<footer>
  <div class="left-div">
    <img
      class="logo"
      src="../../assets/IP_Logo_White.png"
      alt="Logo Iván Pérez"
    />

    <a href="http://www.macarenapaz.com" target="_blank"
      ><p>Site created by <span>Macarena Paz</span></p></a
    >
  </div>

  <div class="right-div">
    <h3>Follow me!</h3>
    <a href="https://www.artstation.com/ivan_92" target="_blank"
      ><img
        class="artstation"
        src="../../assets/ArtStation-Icon.png"
        alt="ArtStation Icon"
    /></a>

    <a href="https://www.linkedin.com/in/ivan92/" target="_blank">
      <img
        class="linkedin"
        src="../../assets/Linkedin-Icon.png"
        alt="Linkedin Icon"
    /></a>
    <p>2024 All Rights Reserved©</p>
  </div>
</footer>
