.about-me-section {
  // min-height: 100vh;
  min-height: 915px;
  background: #00040c;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  .container {
    width: 1300px;
    height: 600px;

    &__title {
      h1 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-family: "Perfect Dream Thin Italic";
        font-size: 3em;
        color: white;
        text-align: right;
        padding-bottom: 77px;
      }

      .line {
        border: none;
        height: 1px;
        width: 50px;
        background-color: white;
        margin-left: 20px;
      }
    }

    &__content {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      &__info {
        width: 50%;

        h1 {
          font-family: "Meltmino Bold";
          font-size: 3em;
          color: #92ff9e;
          text-align: left;
          margin-bottom: 50px;
        }

        &__first-parragraph {
          font-family: "Meltmino Light";
          font-size: 1.2em;
          color: white;
          text-align: left;
          margin-bottom: 30px;
          width: 90%;
          line-height: 30px;
          span {
            font-family: "Meltmino Extra Bold";
          }
        }

        p {
          font-family: "Meltmino Light";
          font-size: 1.2em;
          color: white;
          text-align: left;
          width: 90%;
          line-height: 30px;

          span {
            font-family: "Meltmino Extra Bold";
          }
        }
      }

      &__profile-image {
        width: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        // align-content: center;
        // justify-content: center;
        align-items: center;

        .figure {
          width: 236px;
          position: absolute;
          top: calc(-20% + 20px);
          right: 70%;
          transform: translateX(50%);
          z-index: 1;
        }

        .profile-pic {
          border-radius: 9px;
          height: 350px;
          position: relative;
          z-index: 0;
        }
      }
    }
  }
}

/* Media queries para tablet */
@media screen and (max-width: 1400px) {
  .about-me-section {
    .container {
      &__title {
        h1 {
          margin-right: 220px;
        }
      }

      &__content {
        margin-left: 140px;
        margin-right: 140px;

        &__profile-image {
          .figure {
            width: 236px;
            position: absolute;
            top: calc(-20% + 20px);
            right: 70%;
            transform: translateX(50%);
            z-index: 1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  .about-me-section {
    .container {
      min-height: 1120px;
      margin-bottom: 50px;
      &__title {
        h1 {
          margin-right: 280px;
          padding-bottom: 0px;
          margin-top: 60px;
        }
      }

      &__content {
        flex-direction: column;
        align-items: center;
        margin-left: 180px;
        margin-right: 180px;

        &__profile-image {
          margin-top: 73px;
          .figure {
            width: 236px;
            position: absolute;
            top: calc(-20% + 20px);
            right: 70%;
            transform: translateX(50%);
            z-index: 1;
          }
        }
      }
    }
  }
}

/* Media queries para móvil */
@media screen and (max-width: 603px) {
  .about-me-section {
    .container {
      min-height: 1120px;
      &__title {
        h1 {
          padding-right: 220px;
          margin-bottom: 15px;
        }
      }

      &__content {
        flex-direction: column;
        align-items: center;
        // margin-left: 180px;
        // margin-right: 180px;

        &__info{
          width: 35%;

          h1{
            font-size: 30px;
          }
        }

        &__profile-image {
          margin-top: 73px;
          width: 300px;

          .profile-pic {
            height: 300px;
          }
          .figure {
            width: 150px;
            position: absolute;
            top: calc(-20% + 20px);
            right: 80%;
            transform: translateX(50%);
            z-index: 1;
          }
        }
      }
    }
  }
}
