<section class="about-me-section" id="about">
  <div class="container">
    <div class="container__title">
      <h1>About me
        <hr class="line" />
      </h1>

    </div>
    <div class="container__content">
      <div class="container__content__info">
        <h1>Hi!</h1>
        <p class="container__content__info__first-parragraph">
          I'm <span>Iván Pérez</span>, a <span>3D artist</span> based in
          Barcelona, Spain. My expertise lies in 3D modeling, encompassing
          <span
            >character design, environmental modeling, and game
            development.</span
          >
          I embarked on my journey in 3D Art in October 2021 and am set to
          complete my 3D Game Art studies by June 2024. However, I am keen to
          explore professional opportunities even before the culmination of my
          academic pursuits, should such opportunities arise.
        </p>
        <p>
          I am actively <span>seeking internships</span> to further hone my
          skills and contribute meaningfully to the field of 3D artistry.
        </p>
      </div>
      <div class="container__content__profile-image">
        <img
          class="profile-pic"
          src="../../assets/profile-pic.jpg"
          alt="Iván Pérez profile picture"
        />
        <img
          class="figure"
          src="../../assets/Figura-1.png"
          alt="Green Figure 1"
        />
      </div>
    </div>
  </div>
</section>
