<section class="project-detail-section">
  <div class="t-header">
    <div class="t-header__logo">
      <a href="#"
        ><img src="../../assets/IP_Imagotipo_White.png" alt="Iván Pérez logo"
      /></a>
    </div>
    <div class="t-header__menu">
      <!-- <ul>
      <li><a (click)="scrollTo('projects')">Projects</a></li>
      <li><a (click)="scrollTo('about')">About me</a></li>
      <li><a (click)="scrollTo('contact')">Contact</a></li>
    </ul> -->
    </div>
  </div>

  <div class="details-container">
    <div class="details-container__image">
      <img [src]="project.cover" alt="Portada" />
    </div>

    <div class="details-container__info">
      <h2>{{ project.title }}</h2>
      <p>{{ project.description }}</p>
      <h3>Programs:</h3>

      <ul class="programs">
        <li *ngFor="let program of project.programs">
          {{ program.name }}
          <img
            class="program-icon"
            [src]="program.photo"
            [alt]="program.name"
          />
        </li>
      </ul>
    </div>
  </div>

  <div class="images-container">
    <img *ngFor="let img of getSecondaryPicturesArray()" [src]="img" />
  </div>
  <div class="video-container" *ngIf="project.id === 1">
    <iframe
      src="https://www.youtube.com/embed/Qzct7QioSHY?si=rpGi2DT6DXqPCa5u"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>

  <div class="other-projects" id="projects">
    <h1>Other projects</h1>
    <div class="container">
      <div class="card" *ngFor="let project of otherProjects">
        <div class="content">
          <h2>{{ project.title }}</h2>
          <a (click)="navigateToProjectDetail(project); scrollToTop()">View project</a>
          <img class="card-image" [src]="project.image" [alt]="project.title" />
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer />
