<section class="projects-section" id="projects">
  
  <h1>Projects</h1>
  <hr class="line" />
  <div class="container">

    <!-- First card -->
    <div class="card">
      <div class="content">
        <h2>Viking arena | For Honor inspired environment</h2>
        <a href="#">View project</a>
        <img class="card-image"
          src="../../../assets/Viking-Arena-Card.jpg"
          alt="Viking Arena card image"
        />
      </div>
    </div>
    <!-- Second card -->
    <div class="card">
      <div class="content">
        <h2>The Legend of King Arthur Sword</h2>
        <a href="#">View project</a>
        <img class="card-image"
          src="../../../assets/Sword-Card.jpg"
          alt="Sword card image"
        />
      </div>
    </div>
    <!-- Third card -->
    <div class="card">
      <div class="content">
        <h2>Viking arena | For Honor inspired environment</h2>
        <a href="#">View project</a>
        <img class="card-image"
          src="../../../assets/Viking-Arena-Card.jpg"
          alt="Viking Arena card image"
        />
      </div>
    </div>
  </div>

</section>
